################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Debug
/Release
/x64/Debug
/x64/Release
GraphenProgramm_GraphY.vcxproj.filters
GraphenProgramm_GraphY.vcxproj.user
GraphenProgramm_GraphY.aps
GraphenProgramm_GraphY.rc
.vs/
icon1.ico
resource.h
graph_berechnet.txt